/OnlineShoppingProducts.Web/bin
/OnlineShoppingProducts.Web/obj
/OnlineShoppingProducts.Services/bin
/OnlineShoppingProducts.Services/obj
/OnlineShoppingProducts.Infrastructure.NoSql/bin
/OnlineShoppingProducts.Infrastructure.NoSql/obj
/OnlineShoppingProducts.Infrastructure.Dapper/bin
/OnlineShoppingProducts.Infrastructure.Dapper/obj
/OnlineShoppingProducts.Infrastructure.Configuration/bin
/OnlineShoppingProducts.Infrastructure.Configuration/obj
/OnlineShoppingProducts.Infrastructure/bin
/OnlineShoppingProducts.Infrastructure/obj
/OnlineShoppingProducts.Domain/bin
/OnlineShoppingProducts.Domain/obj
/OnlineShoppingProducts.Database/bin
/OnlineShoppingProducts.Database/obj
/OnlineShoppingProducts.Admin/bin
/OnlineShoppingProducts.Admin/obj
